.idea/
.vscode/
.vs/
*.swp
*.swo

.venv/
bin/
lib/
develop-eggs/
eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

build/
dist/

.target/
.pytest_cache/
.tox/
.nox/
.coverage
.cache
coverage.xml
*.cover
*.log
.mypy_cache/
.ruff_cache/

__pycache__/
*.py[cod]
*$py.class

.DS_Store