.idea/
.vscode/
*.swp
*.swo

.venv/
venv/
ENV/
env/
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

build/
dist/
local_settings.py

.target/
.pytest_cache/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.ruff_cache/

__pycache__/
*.py[cod]
*$py.class

.DS_Store
Thumbs.db